.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 51px;
  height: 45px;
  left: 36px;
  top: 36px;
  transition: all .2s ease-in-out;
}

.bm-burger-button:hover {
  transform: scale(1.1);
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: rgb(25, 78, 196);
}

/* General sidebar styles */
.bm-menu {
  text-align: left;
  background: white;
  padding: .4em .4em 0;
  font-size: 2.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: white;
  padding: .1em;
}

hr {
  padding: 0;
  margin: 0;
}

.menu-item {
  text-align: center;
  margin: 10px 0px 0px 0px;
}

a {
  transition: all .2s ease-in-out;
}

a:hover {
  transform: scale(1.1);
  transition: background-color 2s ease-out;
  text-decoration: none;
}

.bottom-item {
  padding: 1.5em 1.5em 1;
  margin-top: 85%;
  font-size: .5em;
  padding-left: 0px;
}

.social-text {
  padding-left: 1em;
  font-size: .7em;
}

.bottom-icons {
  padding: 2.5em .85em 0;
  margin-top: 200%;
  font-size: 2.4em;
  padding-left: 0px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
