html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
/*  background: linear-gradient(rgb(25, 78, 196), rgb(0, 18, 196));
*//*  display: flex;
*/}

.home-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.home-child {
  height: 50px;
}

.black {
  color: gold;
}

@font-face {
    font-family: "GT Walsheim";
    src: url(./css/GT-Walsheim-Medium.ttf) format("truetype");
}

h1 {
  text-align: center;
  font-family: 'GT Walsheim';
  font-size: 90px;
  color: white;
  font-weight: medium;
}

.page-title {
  margin-top: 15px;
  color: rgb(25, 78, 196);
}

.page-container {
  margin-top: 50px;
  display: flex;
/*  background-color: yellow;
*/  align-items: center;
  justify-content: center;
}

.body-text {
  width: 100px;
  background-color: red;
}
 p {
  width: 600px;
 }

.home-title {
  text-align: left;
  font-family: 'GT Walsheim';
  font-size: 90px;
  color: white;
  font-weight: medium;
}

a {
  font-family: 'GT Walsheim';
}

.project-container {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
/*  background-color: yellow;
*/  justify-content: center;
}

.project-pieces {
  justify-content: center;
  margin: 0px 10px 70px 10px;
}

.pieces-text{
  justify-content: center;
}

.tech {
  font-size: 13px;
}

.descript {
  font-family: 'Raleway';
  font-size: 14px;
}

.project-images {
  justify-content: center;
  display: flex;
}

.single-image {
  border-radius: 5px;
  margin: 0px 0px 15px 0px;
  height: 200px;
}

.parent-sounds {
  display: flex;
  flex-direction: column;
}

.child-sounds {
    align-self: center;
    margin: 40px;
}

#top-sound {
  margin-top: 150px;
}

