html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  background: linear-gradient(rgb(25, 78, 196), rgb(0, 18, 196));
/*  display: flex;
*/}

.home-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.home-child {
  height: 50px;
}

.black {
  color: gold;
}

@font-face {
    font-family: "GT Walsheim";
    src: url(https://github.com/mgonto/gon.to/blob/master/fonts/GT-Walsheim-Medium.ttf) format("truetype");
}


h1 {
  text-align: left;
  font-family: 'GT Walsheim';
  font-size: 90px;
  color: white;
  font-weight: medium;
}

